{% extends "journal/base.html" %}
{% load static %}
{% block content %}
<script src="https://cdn.tiny.cloud/1/n6tfxqqpd4n09nlr9gt8w8bbhxs26sbzxh6aomvd15c93yn2/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: 'textarea',  // Apply TinyMCE to all textarea elements
        plugins: 'advlist autolink lists link image charmap preview anchor textcolor',
        toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',
        menubar: false
    });
</script>

<div class="container text-center" style="min-height: 100vh; display: flex; flex-direction: column; justify-content: center;">
    <h2>Edit Entry</h2>
    <form method="POST" style="width: 100%;">
        {% csrf_token %}
        <div class="form-group">
            {{ form.title }}
        </div>
        <div class="form-group">
            {{ form.body }}
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
    <a href="{% url 'journal:entry_detail' entry.id %}" class="btn btn-secondary mt-3">Cancel</a>
</div>
{% endblock %}
